@media (max-width:414px) {
    
    body {
        max-width: 414px;
    }

    .container {
        width: 414px;
        position: relative;
    }

    .inputs-tab {
        width: 100%;
        height: 150px;

        padding: 30px 20px;
        border-bottom-left-radius: 50px;
    }

    .input-control {
        height: 80px;
        padding: 25px 0 0;
    }
    
    .error {
        font-size: 12px;
    }
    


    .outputs-tab {
        padding: 20px;
        border-top-right-radius: 50px;
        margin-top: 30px;
    
        .task {
            padding: 10px;
            margin-bottom: 5px;
    
            p {
                text-indent: 50px;
                font-size: 15px;
            }
    
            &:first-of-type {
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
            }
    
            &:last-of-type {
                border-bottom-right-radius: 30px;
                border-bottom-left-radius: 30px;
            }
    
        }
    
    
    }

    button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }


    input {
        width: 250px;
        height: 30px;
        margin-right: 10px;
        border-radius: 40px;
        font-size: 13px;
        word-spacing: 3px;
    }


    %span {
        width: 20px;
        height: 20px;
    }

    #check-btn {
        @extend %span;
        top: 30%;
        left: 15px;
    }
    
    
    
    #delete-btn {
        @extend %span;
        padding: 5px 0px;
        font-size: 10px;
    }


    .task-data {
        height: 30px;
        padding: 10px 20px;
        margin-top: 20px;

        .filter {
            width: 80%;
            padding: 10px 30px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: absolute;
            bottom: -50px;
            left: 45px;

            background-color: $primary;

        }
    }

}

